
:root {
    --primary-text: #001114;
    --light-text: #FFEBC6;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;

}

body {
    font-family: 'Zen Kurenaido', sans-serif;
    text-align: center;
    overflow-x: hidden;
    background-color: var(--light-text);
}


header {
    height: 100vh;
    width: 100vw;
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-text);
    color: var(--light-text);
    overflow:hidden;
}



.navbar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    height: 120px;
    width: 100vw;
    top: 0;
    left: 0;
}

.navbar ul {
    display: flex;
}



.navbar * {
    margin: 0 50px;
}

.navbar li {
    color: var(--light-text);
    cursor: pointer;
    font-size: 1.5rem;
}
.card {
    width: 50%;
    margin: 20px auto;
    height: 500px;
    padding: 10px;
    background-size: cover;
    border-radius: 13px;
    box-shadow: 5px 26px 19px 4px rgba(0, 0, 0, 0.6);
}


.social-links {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

img {
    border-radius: 13px;
    height: 120px;
    width: auto;
}

main {
    text-align: center;
}

.about {
    width: 100vw;
    margin: 20px;
    padding: 10px;
    border: 3px dotted black;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}

.about-header {
    margin: 26px 0;
    font-size: 2.6rem;
}

.about-text {
    font-size: 2.4rem;

    line-height: 1.6em;
    padding: 0px 15px 15px 15px;
    text-align: left;
}


li {
    /* padding: 5px; */
    margin: 0 10px;
}





.contact-header {
    padding-top: 15px;
}



button {
    border-radius: 13px;
    border: 2px solid black;
    background-color: #ccc;
    color: #111;
    margin-top: 10px;
    padding: 10px;
    transition: 0.3s;
}

button:hover {
    background-color: #111;
    color: #ccc;
}

footer {
    margin: 50px;
}
.only-widescreen { display: none; }
@media screen and (max-width: 960px) {
    .only-widescreen {
        display: inline;
    }
    .about {
        width: 48%;
    }


}
