body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    background-color: blue;
    border-radius: 15px;
}

.clock {
    display: flex;
font-size: 2rem;
padding: 1rem;
}